{% extends 'post/base.html' %}

{% block title %} About {% endblock %}

{% block content %}

    <div class="container ">
        <h1 class="m-5">Sobre...</h1>

        <h3 class="m-5">Seja bem vindo ao meu Site</h3>
        <div class="w-50 class m-5">
            <p>Este é um blog desenvolvido para o desafio da Sifat Sistemas, para ingressar na vaga de desenvolvedor Python.</p>
            <p>Este site foi desenvolvido com Django Framework, Python e muito carinho! 🐍</p>
        </div>
        <h3 class="m-5">Espero que gostem... 😃</h3>

        <div class="m-5">
            <a href="https://sifat.com.br/"><p><i class="bi bi-building"></i>Sifat Sistemas</p></a>
            <a href="https://github.com/VictorCastroBR"><p><i class="bi bi-github"></i>Meu GITHUB</p></a>
            <a href="https://www.linkedin.com/in/victor-castro-930b7b1a4//"><p><i class="bi bi-linkedin"></i>Meu linkedin</p></a>

            
        </div>

    </div>
{% endblock %}